h2 {
  padding-left: 5%;
  padding-top: 3%;
}

pre {
  font-family: sans-serif;
  font-size: 18px;
  background: white;
  width: 70% !important;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-left: 7%;
  margin-bottom: 0px;
}

.container {
  padding-left: 13%;
}
